body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 50px; /* Adjusted for the fixed navbar */
}

h1 {
    text-align: center;
    margin-top: 20px;
}



.date {
    font-size: 12px;
    color: #777;
}

.article-title {
    font-size: 20px;
    color: #333;
    margin-bottom: -5px;
    padding: 0;
    
}
.epigraph {
    margin-top: 10px; /* Adjust as needed */
    font-style: italic;
    color: #666;
    flex: 1;
}
.date {
    margin-left: 30px;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.article-container {
    background-color: #ffffff; /* Sets the background color to transparent white */
    width: calc(100% - 10px); /* Increases the width */
    margin: 10 auto; /* Centers the containers */
    border: none;
    margin-bottom: 5px;
    padding-top: 10%;
}



.article-content {
    position: absolute; /* Position the content absolutely */
    top: 50%; /* Position it 50% from the top */
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%); /* Center it horizontally and vertically */
    text-align: center; /* Align text center */
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Optional: Add some border radius for rounded corners */
}

.article-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Set a transparent white background */
    padding: 10px;
    box-sizing: border-box;
    z-index: 1; /* Ensure the title is above the image */
}

body, html {
    background-color: #ffffff; /* White background color */
}

.article-image {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding-top: 5%; /* This is 9/16 * 100% */
    display: block;
    margin-top: 0;
}
#footer {
    position: bottom;
    bottom: 0;
    width: 100%;
}

