body {
    background-color: #f0f0f0; /* Set your desired background color */
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader {
    width: 40px;
    height: 40px;
    --c:no-repeat linear-gradient(#000 0 0);
    background: 
        var(--c) 0    0,
        var(--c) 0    100%, 
        var(--c) 50%  0,  
        var(--c) 50%  100%, 
        var(--c) 100% 0, 
        var(--c) 100% 100%;
    background-size: 8px 50%;
    animation: l9-0 2s infinite;
    position: relative;
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: l9-1;
}

@keyframes l9-0 {
    16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
    33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
    50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
    66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
    83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
}

@keyframes l9-1 {
    20%     {left:0px}
    40%,70% {left:calc(50% - 4px)}
    80%,85% {left:8px;top:calc(50% - 4px)}
    100%    {left:8px;top:-8px}
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-size {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}
.image-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; /* Adjust as needed */
}

.paragraph-text {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px); /* Adjust as needed */
    /* Subtracting 10px for margin-right of image-container */
    margin-bottom: 10px; /* Adjust as needed */
}