{% extends 'base.html' %}

{% block content %}
<div class="article-container">
    <div class="title-container">          
        <h2><b> Title : {{ article.title }}</b></h2>
    </div>
    <!-- article epigraph-->
    {{ article.epigraph }}

    <!-- User information + date time -->
    <div class="date-container">
        <p class="date">{{ article.date | day_ago }}</p>
    </div>

    <div class="content-container">
        {% for paragraph in article.paragraphs %}
            <div class="paragraph-container">
                {% if paragraph.image and paragraph.image.content_image %}
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='ArticleImage/ContentImage/' + paragraph.image.content_image) }}" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: auto; margin-bottom: 10px;">
                    </div>
                {% endif %}
                <p class="paragraph-text">{{ paragraph.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}