<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_contents.css') }}">
</head>
<body>



    <!-- Navbar -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AllInShort</a>
        <!-- Add your navbar items here -->
    </nav>
    {% endblock %}



    <!-- Main content block -->
    
    {% block content %}{% endblock %}
  



    <!-- Footer -->
    <footer class="mt-5 bg-dark text-light text-center py-3" id="footer">
        &copy; 2024 Your Website. All rights reserved.
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
