{% extends 'base.html' %}


{% block title %}Welcome to Learning{% endblock %}

{% block content %}
<section>
    <h2>Articles</h2>
    <a href='/articles'><img src="{{ url_for('static', filename='fixed/article_thumbnail-removebg-preview.png') }}" alt='Thumbnail for Article'></a>
</section>

<section>
    <h2>Programming Questions</h2>
    <a href='/programming'><img src="{{ url_for('static', filename='fixed/programming_thumbnail-removebg-preview.png') }}" alt='Thumbnail for Programming Questions'></a>
</section>
{% endblock %}